{
    "openapi": "3.0.3",
    
    "info": {
        "title": "Contact App API",
        "description": "Simple Contact App API",
        "version": "1.0.0"
    },
    "servers": [
        {
            
            "url": "https://contact-app-restful-api.adaptable.app"
        }
    ],
    "paths": {
        "/api/users": {
            "post": {
                "tags": ["users"],
                "description": "Register new user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "password",
                                    "username"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success register user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "description": "Success register user",
                                        "value": {
                                            "data": {
                                                "id": 1,
                                                "name": "Ilman Dwi Cahya",
                                                "username": "ilman"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        
                        "content": {
                            "application/json": {
                                "examples": {
                                    "validationerror": {
                                        "description": "Validation Error",
                                        "value": {
                                            "errors": "username, password, name tidak boleh kosong"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Username already exits",
                        
                        "content": {
                            "application/json": {
                                "examples": {
                                    "validationerror": {
                                        "description": "Username already exits",
                                        "value": {
                                            "errors": "Username already exits"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/login": {
            "post": {
                "tags": ["users"],
                "description": "Login User",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                               
                                                "token": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Username dan password wrong",
                        
                        "content": {
                            "application/json": {
                                "examples": {
                                    "validationerror": {
                                        "description": "Validation Error",
                                        "value": {
                                            "errors": "username or password not empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Username dan password wrong",
                        
                        "content": {
                            "application/json": {
                                "examples": {
                                    "validationerror": {
                                        "description": "username or password wrong",
                                        "value": {
                                            "errors": "Username or password wrong"
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        },
        "/api/users/current": {
            "get": {
                "tags": ["users"],
                "description": "Get current user",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success get current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                               
                                                "username": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["users"],
                "description": "Update current user",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody": {
                    "description": "Update current user",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success update user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                
                                                "username": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        },
        "/api/users/logout": {
            "delete": {
                "tags": ["users"],
                "description": "Logout current user",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success logout user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "boolean"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/contacts/":{
            "post": {
                "tags": ["contacts"],
                "description": "Create new contact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody": {
                    "description": "Create new contact",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "first_name": {
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success create contact",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": ["contacts"],
                "description": "Search contact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "name": "phone",
                        "in": "query"
                    },
                    {
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "name": "size",
                        "in": "query"
                    },
                    {
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success search contacts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "first_name": {
                                                        "type": "string"
                                                    },
                                                    "last_name": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/contacts/{id}": {
            "get": {
                "tags": ["contacts"],
                "description": "Get contact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success get contact",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["contacts"],
                "description": "Update contact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "description": "Update contact",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "first_name": {
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success update contact",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["contacts"],
                "description": "Remove contact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success delete contact",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "ok": {
                                        "description": "berhasil dihapus",
                                        "value": {
                                            "data": "ok"
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/contacts/{idContact}/addresses": {
            "post": {
                "tags": ["addresses"],
                "description": "Create new address",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "idContact",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "description": "Create new address",
                    "content": {
                        "application/json" : {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "street" : {
                                        "type": "string"
                                    },
                                    "city" : {
                                        "type": "string"
                                    },
                                    "province" : {
                                        "type": "string"
                                    },
                                    "country" : {
                                        "type": "string"
                                    },
                                    "postal_code" : {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success create address",
                        "content": {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "street" : {
                                                    "type": "string"
                                                },
                                                "city" : {
                                                    "type": "string"
                                                },
                                                "province" : {
                                                    "type": "string"
                                                },
                                                "country" : {
                                                    "type": "string"
                                                },
                                                "postal_code" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": ["addresses"],
                "description": "Get list addresses",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "idContact",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List addresses",
                        "content": {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "street" : {
                                                        "type": "string"
                                                    },
                                                    "city" : {
                                                        "type": "string"
                                                    },
                                                    "province" : {
                                                        "type": "string"
                                                    },
                                                    "country" : {
                                                        "type": "string"
                                                    },
                                                    "postal_code" : {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/contacts/{idContact}/addresses/{idAddress}": {
            "get": {
                "tags": ["addresses"],
                "description": "Get address",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "idContact",
                        "in": "path"
                    },
                    {
                        "name": "idAddress",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success create address",
                        "content": {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "street" : {
                                                    "type": "string"
                                                },
                                                "city" : {
                                                    "type": "string"
                                                },
                                                "province" : {
                                                    "type": "string"
                                                },
                                                "country" : {
                                                    "type": "string"
                                                },
                                                "postal_code" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["addresses"],
                "description": "Update address",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "idContact",
                        "in": "path"
                    },
                    {
                        "name": "idAddress",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "description": "Update existing contact address",
                    "content": {
                        "application/json" : {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "street" : {
                                        "type": "string"
                                    },
                                    "city" : {
                                        "type": "string"
                                    },
                                    "province" : {
                                        "type": "string"
                                    },
                                    "country" : {
                                        "type": "string"
                                    },
                                    "postal_code" : {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success update address",
                        "content": {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "street" : {
                                                    "type": "string"
                                                },
                                                "city" : {
                                                    "type": "string"
                                                },
                                                "province" : {
                                                    "type": "string"
                                                },
                                                "country" : {
                                                    "type": "string"
                                                },
                                                "postal_code" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["addresses"],
                "description": "Delete address",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "name": "idContact",
                        "in": "path"
                    },
                    {
                        "name": "idAddress",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Success delete",
                        "content": {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }
}